@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PROJET BIBLIOTEQUE</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p><a href="https://wikipedia.com" class="btn btn-primary btn-lg" target="_blank">En savoir plus &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>LIVRE</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p><a class="btn btn-default" href="https://wikipedia.com" target="_blank">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>GENRE</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum..
        </p>
        <p><a class="btn btn-default" href="https://wikipedia.com" target="_blank">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>COURANT LITTERAIRE</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://wikipedia.com" target="_blank">En savoir plus &raquo;</a></p>
    </div>
</div>