@model biblioteque.Models.EDITEUR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EDITEUR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_editeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_editeur)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_editeur }) |
    @Html.ActionLink("Retour vers la liste", "Index")
</p>
